@font-face {
    font-family: bukhari-script;
    src: url(assets/fonts/bukhari-script.ttf);
}

@font-face {
    font-family: nickainley;
    src: url(assets/fonts/Nickainley-Normal.otf);
}

@font-face {
    font-family: aniyah;
    src: url(assets/fonts/Aniyah.otf);
}

@font-face{
    font-family: potterhead;
    src: url(assets/fonts/HARRYP__.TTF)
}

@media only screen and (min-width: 1021px){

#head-section{
    height: 25vw;
    width: 100%;
    background:rgba(0, 0, 0,0.6) url(assets/img/bg1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

#head-section #profile-photo{
    border: 4px solid black;
    border-radius: 10px;
    width: 20%;
    margin: 40px;
}
#head-section #right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: right;
    width: 70%;
    height: 100%;
}

#head-section #right-container #text{
    text-align: center;
}

#head-section #title{
    color: white;
    font-size: 60px;
    font-family: nickainley;
}

#head-section #subtitle{
    color: white;
    font-size: 40px;
    font-family: potterhead;
    position: relative;
}

#head-section #subtitle::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0,0.6);
    animation: uncover 2s forwards;
}

nav{
    font-family: monospace;
}

@keyframes uncover{
    to{
        left: 100%;
    }
}

#skills{
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    font-family: cursive;
    margin: 70px 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-weight:lighter;
    background-color: black;
}

#skills:before,
#skills:after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ff0000, #fb0094);
    background-size: 400% 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 20px;
    z-index: -1;
    animation: animate 3s ease alternate infinite;
}

#skills:after{
    filter: blur(20px);
}


.para-section{
    color: white;
    font-family: monospace;
    display: flex;
}

.para-section *{
    margin: 20px;
}

.para-section .para-img{
    width: 340px;
    border: 4px solid white;
    border-radius: 70px;
    padding: 20px;
}
.para-section .para-head{
    font-size: 40px;
}
.para-section .para-desc{
    font-size: 20px;
    text-align: justify;
}

section.row-reversed{
    flex-direction: row-reverse;
}

@keyframes animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* Contact_Me Styles */

#contact-body{
    background: rgba(0, 0, 0,0.7) url(assets/img/bg2.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

#cards-container{
    border: 1px solid white;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
}

.social-card{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.social-card img{
    width: 90%;
}

.head-txt{
    color: white;
    font-family: monospace;
    text-align: center;
    margin: 30px;

    margin-top: 0px;
}

#instagram{
    filter: invert(1);
}

.social-card :hover{
    opacity: 0.5;
}
#email{
    font-family: monospace;
    background-color: gray;
    color: black;
    font-size: 2rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    width: 30%;
    margin:20px auto;
}
}